.auth__container {
    height: 518px;
    width: 457px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth__moduls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 300px;
    height: 350px;
}
.auth__buttons{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.auth__buttons button{
    background: transparent;
    border: none;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    
    
}
.auth__inputs{
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.forms_input{
    width: 273px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(to bottom right, #ff416d8e, #ae03b470);
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: black;
    padding-left: 10px;

}
.checkbox_cont{
    width: 100%;
    display: flex;
    font-family: 'HelveticaNeue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: center;
}
.login__btn_cont{
    display: flex;
    align-items: center;
    width: 100%;
}

.login__btn{
    border: none;
    background: linear-gradient(to bottom right, #ff416c, #ae03b4);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 273px;
    transition: transform 0.3s ease-in-out;
    animation: pulse 2s ease-in-out infinite;
}


.login__btn button:hover {
    transform: scale(1.05);
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 65, 108, 0.4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 65, 108, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 65, 108, 0);
    }
  }

  .auth__forgot__btn{
    background: transparent;
    border: none;
    font-family: 'HelveticaNeue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: center;
  }
  button{
    cursor: pointer;
  }